#Python bytecode/cache files
*.pyo
*.pyc
__pycache__/

# Used by pytest
.cache
.pytest_cache/
_configtest.o.d

#Images
*.png
*.svg
*.jpeg
*.jpg

#HTML files
.html

#Binaries
bin/

#PyCharm files
.idea/

#Sublime Project files
ourobouros.sublime-project
ourobouros.sublime-workspace
sftp-config.json

#R files
.RData
.Rhistory
